infra/node-red/flows.json
[
  {"id":"tab-anyalink","type":"tab","label":"AnyaLink MVP","disabled":false,"info":""},

  {"id":"broker-mosquitto","type":"mqtt-broker","name":"Mosquitto local","broker":"192.168.20.113","port":"1883","clientid":"nodered-anyalink","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"sessionExpiry":"","credentials":{}},

  {"id":"inject-poll","type":"inject","z":"tab-anyalink","name":"Poll pendientes (2s)","props":[],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["fn-get-cmds-url"]]},

  {"id":"fn-get-cmds-url","type":"function","z":"tab-anyalink","name":"URL: GET pending","func":"const KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuYWxmeHRnZXdkZWZwb3hrdXd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODU2NTA2NCwiZXhwIjoyMDc0MTQxMDY0fQ.GYaPZm1qx3LslFfS3neKs0evxzx27eMEJI_05xgZFjQ';\nmsg.url = 'https://vnalfxtgewdefpoxkuwu.supabase.co/rest/v1/device_commands?status=eq.pending&select=id,device_id,action,payload';\nmsg.method = 'GET';\nmsg.headers = { 'apikey': KEY, 'Authorization': 'Bearer ' + KEY, 'Content-Type': 'application/json' };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":80,"wires":[["http-get-commands"]]},

  {"id":"http-get-commands","type":"http request","z":"tab-anyalink","name":"GET device_commands","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":570,"y":80,"wires":[["split-commands"]]},

  {"id":"split-commands","type":"split","z":"tab-anyalink","name":"Split por comando","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":80,"wires":[["fn-build-cmd-msg"]]},

  {"id":"fn-build-cmd-msg","type":"function","z":"tab-anyalink","name":"Armar topic + payload + URL PATCH","func":"const KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuYWxmeHRnZXdkZWZwb3hrdXd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODU2NTA2NCwiZXhwIjoyMDc0MTQxMDY0fQ.GYaPZm1qx3LslFfS3neKs0evxzx27eMEJI_05xgZFjQ';\nconst cmd = msg.payload;\nif (!cmd || !cmd.device_id) return null;\nconst out = {\n  topic: `anyalink/device/${cmd.device_id}/command`,\n  payload: JSON.stringify({\n    cmd_id: cmd.id,\n    action: cmd.action,\n    payload: cmd.payload || {}\n  })\n};\nconst patchMsg = {\n  url: `https://vnalfxtgewdefpoxkuwu.supabase.co/rest/v1/device_commands?id=eq.${cmd.id}`,\n  method: 'PATCH',\n  headers: { 'apikey': KEY, 'Authorization': 'Bearer ' + KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n  payload: JSON.stringify({ status: 'sent' })\n};\nreturn [out, patchMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":80,"wires":[["mqtt-out-cmd"],["http-patch-sent"]]},

  {"id":"mqtt-out-cmd","type":"mqtt out","z":"tab-anyalink","name":"Publish command","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"broker-mosquitto","x":1290,"y":60,"wires":[]},

  {"id":"http-patch-sent","type":"http request","z":"tab-anyalink","name":"PATCH status=sent","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1290,"y":100,"wires":[[]]},

  {"id":"mqtt-in-state","type":"mqtt in","z":"tab-anyalink","name":"Sub state ACK","topic":"anyalink/device/+/state","qos":"1","datatype":"utf8","broker":"broker-mosquitto","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":200,"wires":[["fn-extract-ack"]]},

  {"id":"fn-extract-ack","type":"function","z":"tab-anyalink","name":"Armar PATCH done","func":"const KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuYWxmeHRnZXdkZWZwb3hrdXd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODU2NTA2NCwiZXhwIjoyMDc0MTQxMDY0fQ.GYaPZm1qx3LslFfS3neKs0evxzx27eMEJI_05xgZFjQ';\nlet data;\ntry { data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload; }\ncatch (e) { return null; }\nif (!data || !data.cmd_id) return null;\nmsg.url = `https://vnalfxtgewdefpoxkuwu.supabase.co/rest/v1/device_commands?id=eq.${data.cmd_id}`;\nmsg.method = 'PATCH';\nmsg.headers = { 'apikey': KEY, 'Authorization': 'Bearer ' + KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' };\nmsg.payload = JSON.stringify({\n  status: 'done',\n  completed_at: new Date().toISOString()\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["http-patch-done"]]},

  {"id":"http-patch-done","type":"http request","z":"tab-anyalink","name":"PATCH status=done","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":620,"y":200,"wires":[[]]},

  {"id":"mqtt-in-metrics","type":"mqtt in","z":"tab-anyalink","name":"Sub metrics","topic":"anyalink/device/+/metrics","qos":"0","datatype":"utf8","broker":"broker-mosquitto","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":320,"wires":[["fn-metrics-upsert"]]},

  {"id":"fn-metrics-upsert","type":"function","z":"tab-anyalink","name":"Armar upsert metrics","func":"const KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuYWxmeHRnZXdkZWZwb3hrdXd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODU2NTA2NCwiZXhwIjoyMDc0MTQxMDY0fQ.GYaPZm1qx3LslFfS3neKs0evxzx27eMEJI_05xgZFjQ';\nconst topicParts = msg.topic.split('/');\nconst deviceId = topicParts[2];\nlet data;\ntry { data = JSON.parse(msg.payload); }\ncatch (e) { node.warn('JSON parse error: ' + e.message); return null; }\nmsg.url = 'https://vnalfxtgewdefpoxkuwu.supabase.co/rest/v1/device_metrics';\nmsg.method = 'POST';\nmsg.headers = { 'apikey': KEY, 'Authorization': 'Bearer ' + KEY, 'Content-Type': 'application/json', 'Prefer': 'resolution=merge-duplicates' };\nmsg.payload = JSON.stringify({\n  device_id: deviceId,\n  weight_g: data.weight_g,\n  temperature_c: data.temperature_c,\n  humidity_pct: data.humidity_pct,\n  updated_at: new Date().toISOString()\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":320,"wires":[["http-post-metrics"]]},

  {"id":"http-post-metrics","type":"http request","z":"tab-anyalink","name":"UPSERT device_metrics","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":620,"y":320,"wires":[[]]},

  {"id":"mqtt-in-online","type":"mqtt in","z":"tab-anyalink","name":"Sub online/offline","topic":"anyalink/device/+/online","qos":"1","datatype":"utf8","broker":"broker-mosquitto","nl":false,"rap":true,"rh":2,"inputs":0,"x":160,"y":440,"wires":[["fn-online-patch"]]},

  {"id":"fn-online-patch","type":"function","z":"tab-anyalink","name":"Armar PATCH online","func":"const KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuYWxmeHRnZXdkZWZwb3hrdXd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODU2NTA2NCwiZXhwIjoyMDc0MTQxMDY0fQ.GYaPZm1qx3LslFfS3neKs0evxzx27eMEJI_05xgZFjQ';\nconst topicParts = msg.topic.split('/');\nconst deviceId = topicParts[2];\nconst isOnline = (typeof msg.payload === 'string' ? msg.payload : msg.payload.toString()) === 'online';\nmsg.url = `https://vnalfxtgewdefpoxkuwu.supabase.co/rest/v1/devices?id=eq.${deviceId}`;\nmsg.method = 'PATCH';\nmsg.headers = { 'apikey': KEY, 'Authorization': 'Bearer ' + KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' };\nmsg.payload = JSON.stringify({\n  online: isOnline,\n  last_seen: new Date().toISOString()\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":440,"wires":[["http-patch-online"]]},

  {"id":"http-patch-online","type":"http request","z":"tab-anyalink","name":"PATCH devices online","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":620,"y":440,"wires":[[]]}
]
